<div class="acerca-de container">
  <!-- --------ACERCA DE-------------  -->
  <div class="row">
    <div class="col col-sm-11 col-md-11 col-lg-11 col-xl-11 acercaTexto">
      <h2>Acerca de</h2>
      <p>
        Actualmente soy estudiante y desarrollador Java orientado al Backend con
        Spring Boot. También tengo conocimientos en Frontend con Angular y busco
        sumar experiencia para profundizar mis conocimientos y crecer como
        profesional día a día. Mi enfoque se basa en el desarrollo continuo de
        habilidades técnicas y blandas, con total compromiso y dedicación. Entre
        mis habilidades destacan:
      </p>
      <ul>
        <li>✔ Creación y desarrollo de APIs REST.</li>
        <li>✔ Diseño, mapeo y gestión de bases de datos.</li>
        <li>✔ Implementación de lógica de negocio.</li>
        <li>✔ Seguridad en aplicaciones con JWT.</li>
        <li>✔ Documentación con Swagger.</li>
        <li>✔ Validación de datos y buenas prácticas.</li>
        <li>✔ Versionamiento y despliegue en entornos productivos.</li>
      </ul>
      <p>
        Estoy siempre abierto a nuevos desafíos y oportunidades que me permitan
        seguir aprendiendo y mejorando.
      </p>
    </div>
  </div>
</div>
