<div class="acerca-de container">
  <!-- --------ACERCA DE-------------  -->
  <div class="row">
    <div class="col col-sm-11 col-md-11 col-lg-11 col-xl-11 acercaTexto">
      <h2>Acerca de</h2>
      <p>
        Trabajé mas de 10 años cómo Técnico Electrónico, lo que me dejó mucha
        experiencia en resolución de problemas, administración, trabajo en
        equipo, etc. En esta reconversión profesional, actualmente soy estudiante/desarrollador Java orientado al
        Backend con Spring Boot, también poseo conocimientos en Front con
        Angular, estoy en busca de sumar experiencia, con el fin
        de profundizar conceptos y ser un mejor profesional día a día. Mi enfoque se basa en desarrollar habilidades
        blandas y ofrecer toda mi dedicación. 
         Las habilidades que puedo ofrecer van desde la creación de una API hasta su despliegue, incluyendo la creación y mapeo de las entidades,
         la implementación de lógica del negocio, la creación, versionamiento y despliegue de la base de datos, la implementación de seguridad con JWT, 
         validación de campos, documentación, etc.

      </p>
    </div>
  </div>
</div>
