<div class="acerca-de container">
  <!-- --------ACERCA DE-------------  -->
  <div class="row">
    <div class="col col-sm-11 col-md-11 col-lg-11 col-xl-11 acercaTexto">
      <h2>Acerca de</h2>
      <p>
        Programador 100% autodidacta. Trabajé muchos años cómo Técnico Electrónico, lo que me dejó mucha
        experiencia en resolución de problemas, administración, trabajo en
        equipo, etc. Actualmente soy estudiante/desarrollador Java orientado al
        Backend con Spring Boot, también poseo conocimientos en Front con
        Angular, estoy en busca de primer experiencia en el sector, con el fin
        de profundizar conceptos y conocer la metodología con la que se afronta
        este oficio día a día. Mi enfoque se basa en desarrollar habilidades
        blandas, aprender, y sumar experiencia. Ofrezco dedicación, esfuerzo, y
        pasión, para poder ser un mejor profesional.
      </p>
    </div>
  </div>
</div>
