<div class="educacion container">
  <!-- ---------EDUCACION ------------- -->
  <div class="row">
    <div class="col">
      <h2>Educación</h2>
    </div>

    <!-- -------------------------------- -->
    <ul class="items-list">
      <li>
        <div class="educacion-item row">
          <div class="exp col">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img
                class="img-fluid experiencia__imagen"
                src="../../../assets/imagenes/FONDO JPG- sin espacios.png"
                alt=""
                alt=""
              />
            </div>
            <div class="exp-detalles">
              <div class="">
                <div class="">
                  <h3>Argentina Programa - Fullstack Developer</h3>
                  <p>Fullstack - Finalizado</p>
                  <h5>2022 - 2023</h5>
                  <p>
                    Curso de 6 meses en donde aprendí HTML, CSS, Javascript,
                    Angular, Java, Spring Boot, MySQL, Docker, Github, Etc.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- -------------------------------- -->

      <li>
        <div class="educacion-item row">
          <div class="exp col">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img
                class="img-fluid experiencia__imagen"
                src="../../../assets/imagenes/one.png"
                alt=""
                alt=""
              />
            </div>
            <div class="exp-detalles">
              <div class="">
                <div class="">
                  <h3>ONE Oracle Next Education - Beca </h3>
                  <p>Java Backend Developer - En Curso</p>
                  <h5>2024 </h5>
                  <p>
                    Curso de 6 meses que consta de una etapa inicial de 2 meses de front, y 4 meses de Java.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- -------------------------------- -->
    </ul>
  </div>
</div>
