<div class="proyectos container">
  <!-- --------PROYECTOS----------- -->
  <div class="proyectos-row row">
    <div class="title col">
      <div class="titulo">
        <h3>Proyectos</h3>
      </div>
    </div>

      <!-- ----------------------------------------------------- -->
    
      <div class="proyectos-contenido col">
        <div class="proyectos-contenido-row ">
          <div class="proyecto__imagen">
            <img src="../../../assets/imagenes/EduNotify.jpeg" alt="">
          </div>
          <div class="proyectos-item col">
            <h3>EduNotify</h3>
            <p>
              El objetivo principal de EduNotify es proporcionar una plataforma que fortalezca la comunicación entre directivos escolares y padres de alumnos. Esta herramienta está diseñada para modernizar y optimizar los métodos de comunicación en el ámbito educativo.
            </p>
            <p>Url: <a href="https://github.com/RamonCruz187/s16-26-kotlin" target="_blank">https://github.com/RamonCruz187/s16-26-kotlin</a></p>
          </div>
        </div>
      </div>
    
      <!-- -------------------------------------------------------- -->

      <div class="proyectos-contenido col">
        <div class="proyectos-contenido-row ">
          <div class="proyecto__imagen">
            <img src="../../../assets/imagenes/encriptador.png" alt="">
          </div>
          <div class="proyectos-item col">
            <h3>Encriptador de Texto</h3>
            <p>
              Challenge de Alura Latam
Objetivos del proyecto:

Poder encriptar cualquier texto
Poder desencriptar cualquier texto encriptado previamente
Realizar un diseño responsivo que se adapte a las diferentes pantallas
Poner en práctica todo lo desarrollado en el curso, tanto HTML, CCS y Javascript
Uso de Figma para poder copiar el diseño de la página
Uso de Trello para poder ir siguiendo el orden de las tareas
            </p>
            <p>Url: <a href="https://github.com/RamonCruz187/Encriptador-de-Texto" target="_blank">https://github.com/RamonCruz187/Encriptador-de-Texto</a></p>
          </div>
        </div>
      </div>
    
      <!-- -------------------------------------------------------- -->

      <div class="proyectos-contenido col">
        <div class="proyectos-contenido-row ">
          <div class="proyecto__imagen">
            <img src="../../../assets/imagenes/encriptador.png" alt="">
          </div>
          <div class="proyectos-item col">
            <h3>Encriptador de Texto</h3>
            <p>
              Challenge de Alura Latam
Objetivos del proyecto:

Poder encriptar cualquier texto
Poder desencriptar cualquier texto encriptado previamente
Realizar un diseño responsivo que se adapte a las diferentes pantallas
Poner en práctica todo lo desarrollado en el curso, tanto HTML, CCS y Javascript
Uso de Figma para poder copiar el diseño de la página
Uso de Trello para poder ir siguiendo el orden de las tareas
            </p>
            <p>Url: <a href="https://github.com/RamonCruz187/Encriptador-de-Texto" target="_blank">https://github.com/RamonCruz187/Encriptador-de-Texto</a></p>
          </div>
        </div>
      </div>
    
      <!-- -------------------------------------------------------- -->

  </div>
</div>
