<div class="proyectos container">
  <!-- --------PROYECTOS----------- -->
  <div class="proyectos-row row">
    <div class="title col">
      <div class="titulo">
        <h3>Proyectos</h3>
      </div>
    </div>

    <!-- ----------------------------------------------------- -->

    <div class="proyectos-contenido col">
      <div class="proyectos-contenido-row">
        <div class="proyecto__imagen">
          <!-- data-bs-target="#exampleModal" poner nombre de la imagen -->
          <img
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal5"
            src="assets/imagenes/Captura de pantalla 2024-08-30 113635.png"
            alt=""
          />
        </div>
        <div class="proyectos-item col">
          <h3>Portfolio</h3>
          <p>
            Proyecto final del curso Argentina Programa 4.0. Desarrollado con
            Angular, Spring Boot y MySQL. Es un proyecto full stack en donde el
            front se realiza con Angular, ademas consume una API desarrollada en
            Spring Boot, que se comunica con una base de datos MySQL. Tanto el
            Front, como el Back y la base de datos fueron desplegados
            independientemente.
          </p>
          <p>
            Url:
            <a href="https://github.com/RamonCruz187/Portfolio" target="_blank"
              >https://github.com/RamonCruz187/Portfolio</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- el id debe ser igual que data-bs-target= -->
    <div
      class="modal fade"
      id="modal5"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <img
            src="assets/imagenes/Captura de pantalla 2024-08-30 113635.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------- -->

    <div class="proyectos-contenido col">
      <div class="proyectos-contenido-row">
        <div class="proyecto__imagen">
          <!-- data-bs-target="#exampleModal" poner nombre de la imagen -->
          <img
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal1"
            src="assets/imagenes/EduNotify.jpeg"
            alt=""
          />
        </div>
        <div class="proyectos-item col">
          <h3>EduNotify</h3>
          <p>
            El objetivo principal de EduNotify es proporcionar una plataforma
            que fortalezca la comunicación entre directivos escolares y padres
            de alumnos. Esta herramienta está diseñada para modernizar y
            optimizar los métodos de comunicación en el ámbito educativo. App
            desarrollada en conjunto con
            <a
              href="https://www.linkedin.com/in/nikollquinteroc/"
              target="_blank"
              >Nikol Quintero</a
            >, que se encargó de desarrollar la app en Kotlin, mi trabajo en
            este proyecto fue desarrollar y desplegar el back y la base de
            datos.
          </p>
          <p>
            Url:
            <a
              href="https://github.com/RamonCruz187/s16-26-kotlin"
              target="_blank"
              >https://github.com/RamonCruz187/s16-26-kotlin</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- el id debe ser igual que data-bs-target= -->
    <div
      class="modal fade"
      id="modal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <img src="assets/imagenes/EduNotify.jpeg" alt="" />
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------- -->

    <div class="proyectos-contenido col">
      <div class="proyectos-contenido-row">
        <div class="proyecto__imagen">
          <img
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal2"
            src="assets/imagenes/encriptador.png"
            alt=""
          />
        </div>
        <div class="proyectos-item col">
          <h3>Encriptador de Texto</h3>
          <p>
            Challenge de Alura Latam, objetivos del proyecto: poder encriptar
            cualquier texto, poder desencriptar cualquier texto encriptado
            previamente, realizar un diseño responsivo que se adapte a las
            diferentes pantallas. poner en práctica todo lo desarrollado en el
            curso, tanto HTML, CCS y Javascript, uso de Figma para poder copiar
            el diseño de la página y uso de Trello para poder ir siguiendo el
            orden de las tareas.
          </p>
          <p>
            Url:
            <a
              href="https://github.com/RamonCruz187/Encriptador-de-Texto"
              target="_blank"
              >https://github.com/RamonCruz187/Encriptador-de-Texto</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- el id debe ser igual que data-bs-target= -->
    <div
      class="modal fade"
      id="modal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <img src="assets/imagenes/encriptador.png" alt="" />
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------- -->

    <div class="proyectos-contenido col">
      <div class="proyectos-contenido-row">
        <div class="proyecto__imagen">
          <img
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal3"
            src="assets/imagenes/Gamer-Goods.png"
            alt=""
          />
        </div>
        <div class="proyectos-item col">
          <h3>Gammer Goods</h3>
          <p>
            ¡Únete a nuestra comunidad de los videojuegos relacionados con sus
            franquicias y consolas favorita! El objetivo principal de este
            proyecto es proporcionar una plataforma en línea accesible y fácil
            de usar para que los fanáticos de los videojuegos puedan comprar
            productos de merchandising. Proyecto desarrollado en No-Country, mi
            trabajo en este proyecto fue realizar gran parte del back con Spring
            Boot, colaborar activamente con el front con Angular, y desplegar
            tanto el front con Railway, como el Back con Render.
          </p>
          <p>
            Url:
            <a
              href="https://github.com/RamonCruz187/c18-26-java-angular"
              target="_blank"
              >https://github.com/RamonCruz187/c18-26-java-angular</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- el id debe ser igual que data-bs-target= -->
    <div
      class="modal fade"
      id="modal3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <img src="assets/imagenes/Gamer-Goods.png" alt="" />
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------- -->

    <div class="proyectos-contenido col">
      <div class="proyectos-contenido-row">
        <div class="proyecto__imagen">
          <img
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal4"
            src="assets/imagenes/Captura de pantalla 2024-08-28 200124.png"
            alt=""
          />
        </div>
        <div class="proyectos-item col">
          <h3>Contacto Mascota</h3>
          <p>
            Aplicación web dedicada a exhibir datos acerca de mascotas que han
            sido encontradas, facilitando el proceso de adopción de animales y
            permitiendo la publicación de aquellos que se encuentran
            extraviados. Proyecto desarrollado en la parte del front con Reac, y
            en back con Java-Spring Boot, mi trabajo en este proyecto fue
            desarrollar gran parte del back y realizar el despliegue tanto del
            back, como de la base de datos.
          </p>
          <p>
            Url:
            <a
              href="https://github.com/RamonCruz187/c15-22-m-java-react"
              target="_blank"
              >https://github.com/RamonCruz187/c15-22-m-java-react</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- el id debe ser igual que data-bs-target= -->
    <div
      class="modal fade"
      id="modal4"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <img
            src="assets/imagenes/Captura de pantalla 2024-08-28 200124.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------------- -->
  </div>

  <!-- FOOTER -->
</div>
<div class="proyectos footer container" style="margin-bottom: 50px">
  <h3 style="margin-bottom: 40px">Contacto</h3>
  <div class="contacto" style="margin-left: 30px">
    <p>
      <img src="assets/imagenes/gmail.png" height="30px" alt="" /><strong
        >Mail:
      </strong>
      <a href="mailto:ramon.cruz187@gmail.com">ramon.cruz187&#64;.com</a>
    </p>
    <p>
      <img src="assets/imagenes/whatsapp.png" height="30px" alt="" />
      <strong>Tel:</strong>
      <a href="https://wa.me/+542964458920" target="_blank">+54-2964458920</a>
    </p>
    <div style="margin-top: 30px">
      <a href="https://github.com/RamonCruz187" target="_blank"
        ><img
          src="assets/imagenes/github.png"
          height="40px"
          style="margin-bottom: 30px"
          alt=""
      /></a>
      <a href="https://www.linkedin.com/in/ramon-cruz187/" target="_blank"
        ><img
          src="assets/imagenes/linkedin.png"
          height="40px"
          style="margin-left: 20px; margin-bottom: 30px"
          alt=""
      /></a>
    </div>
  </div>
  <div>
    <p>Gracias por tu visita!!!</p>
    <p>© Copyright 2024. All Rights Reserved.</p>
  </div>

  <div id="sfcb2adwm6zsmlgwebmtn15t8d7axdxf49g">
    <a
      href="https://www.contadorvisitasgratis.com"
      title="contador de visitas para web"
      ><img
        src="https://counter7.optistats.ovh/private/contadorvisitasgratis.php?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g"
        title="contador de visitas para web"
        alt="contador de visitas para web"
    /></a>
  </div>
  <script
    type="text/javascript"
    src="https://counter7.optistats.ovh/private/counter.js?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g&down=async"
    async
  ></script>
  <noscript
    ><a
      href="https://www.contadorvisitasgratis.com"
      title="contador de visitas para web"
      ><img
        src="https://counter7.optistats.ovh/private/contadorvisitasgratis.php?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g"
        title="contador de visitas para web"
        alt="contador de visitas para web" /></a
  ></noscript>
</div>
