<div class="experiencia container "> <!-- --------EXPERIENCIA ---------- -->
  <div class="row">
    <div class="col">
      <h2>Experiencia</h2>
    </div>
    
    <ul class="items-list">
<!-- -------------------------------- -->
        <div class="experiencia-item row">
          <div class="exp col col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img class="img-fluid experiencia__imagen" src="assets/imagenes/Freelancer.png"  alt="">
            </div>
            <div class="exp-detalles">
                <div >
                  <h3>Desarrollador Freelance</h3>
                  <p>Freelance - Part-Time</p>
                  <h5>may 2022 - actualidad</h5>
                  <p>Desarrollo de proyectos propios y clientes.</p>
                </div>
            </div>
          </div>
        </div>

      <!-- -------------------------------- -->
        <div class="experiencia-item row">
          <div class="exp col col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img class="img-fluid experiencia__imagen" src="assets/imagenes/No-Country.png" alt="">
            </div>
            <div class="exp-detalles">
                <div >
                  <h3>Backend Developer - Remoto</h3>
                  <p>No-Country - Part-Time</p>
                  <h5>jun 2023 - ago 2024</h5>
                  <p>Colaboración como Java Backend Developer en simulaciones laborares con equipo de trabajo bajo metodologías ágiles.</p>
                </div>
            </div>
          </div>
        </div>
        
        <!-- -------------------------------- -->

    </ul>
  </div>
</div>