<div class="skills container">
  <!-- ------------SKILSS --------------- -->
  <div class="skills-row">
    <div class="">
      <div class="skills__item">
        <h3>Hard Skills </h3>
        <div class="hard-skills">
          <ul>
            <li>
              <div class="hard-skills__texto">
                <h4>Lenguajes de programación:</h4><p><strong>- </strong>Java, Javascript, SQL</p>
              </div>
              <div class="hard-skills__icono">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />

              </div>
            </li>
            <li>
              <div class="hard-skills__texto">
                <h4>Frameworks:</h4><p><strong>- </strong>Spring Boot, Angular</p>
              </div>
              <div class="hard-skills__icono">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />
                
              </div>
            </li>
            <li>
              <div class="hard-skills__texto">
                <h4>Bases de datos:</h4><p><strong>- </strong>MySQL</p>
              </div>
              <div class="hard-skills__icono">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />

              </div>
            </li>
            <li>
              <div class="hard-skills__texto">
                <h4>Herramientas y tecnologías:</h4><p><strong>- </strong>Git, Docker, Maven, Postman, Swagger, Jira, Intellij</p>
              </div>
              <div class="hard-skills__icono">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/maven/maven-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swagger/swagger-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/intellij/intellij-original.svg" />

              </div>
            </li>
            <li>
              <div class="hard-skills__texto">
                <h4>Frontend:</h4><p><strong>- </strong>HTML, Css, Bootstrap, Figma, Visual Studio Code</p>
              </div>
              <div class="hard-skills__icono">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" />
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original-wordmark.svg" />

              </div>
            </li>
            
          </ul>
        </div>
      </div>
      <div class="skills__item">
        <h3>Soft Skills</h3>
        <div class="soft-skills">
          <ul>
            <li><h5>Resolución de problemas, pensamiento crítico</h5></li>
            <li><h5>Trabajo en equipo</h5></li>
            <li><h5>Adaptabilidad, manejo del Estrés, autonomía</h5></li>
            <li><h5>Empatía, escucha activa</h5> </li>
          </ul>
          <div class="soft-skills__icono">
            <img src="../../../assets/imagenes/skill.png" alt="">
            <img src="../../../assets/imagenes/partners.png" alt="">
            <img src="../../../assets/imagenes/adaptation.png" alt="">
            <img src="../../../assets/imagenes/stress-management.png" alt="">
            <img src="../../../assets/imagenes/conversation.png" alt="">
            <img src="../../../assets/imagenes/empathy.png" alt="">
            <img src="../../../assets/imagenes/help-desk.png" alt="">
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
