* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

form input {
    margin: 2px;
}


div button {
    margin: 2px;
}

.barra {
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}



.yo-programo {
    display: inline-flex;
    flex-direction: row;
    color: antiquewhite;
}

.yo-programo img {
    height: 50px;
    padding-top: 5px;
}

.yo-programo h3 {
    margin-left: 20px;
    display: inherit;
    align-items: end;
}

#iconos {
    display: inherit;
    justify-content: flex-end;
}

#iconos i {
    display: inherit;
    margin: 10px;
    margin-top: 20px;
    align-items: end;
    color: white;
}


#header {
    height: 30vw;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

#header img {
    height: 30vw;
    min-height: 300px;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 20px 20px 0px 0px;
}

#edit {
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 20px;
}

.datos {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0px 0px 20px 20px;
}

#img-contenedor {
    margin-top: -150px;
    display: flex;
    height: 200px;
    align-items: flex-end;
}

#foto {
    border-radius: 100px;

}

.editar-foto {
    margin-bottom: 30px;
}

.datos2 {
    justify-content: end;
    margin: 0;
}

.logoArgentina {
    max-height: 70px;
}

.acerca-de {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
}

.acerca-de i {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.acercaTexto {
    min-width: 400px;
}

.acercaTexto p {
    margin-left: 20px;
    font-size: 24px;
}

.experiencia {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.experiencia-item {
    padding-top: 20px;
    justify-content: space-between;
}

.exp-detalles {
    padding-left: 30px;
    font-size: 20px;
}

.exp {
    display: inherit;
    min-width: 400px;
}

.logExo {
    height: 75%;
    max-width: 120px;
}

.logo-exp{
    display: flex;
}

.logo-exp img {
    display: flex;
    max-width: 75%;
    justify-content: center;
    
}

.experiencia__imagen{
    margin: auto;
}

.experiencia i {
    color: #0d6efd;
}

.educacion i {
    color: #0d6efd;
}

.educacion {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.educacion-item {
    padding-top: 20px;
    justify-content: space-between;
}

.skills {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
}

.skills-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hard-skills ul li{
    margin-top: 10px;
}

.hard-skills__texto p{
    margin-left: 20px;
    font-size: 20px;
    
}

.hard-skills__icono img{
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    margin-bottom: 20px;
}

.soft-skills__icono{
    margin-top: 25px;
    margin-left: 25px;
}

.soft-skills__icono img{
    margin-left: 20px;
    margin-right: 20px;
    height: 75px;
    margin-bottom: 20px;
}

.soft-skills ul{
    margin-top: 20px;
    list-style-type: disc;
    list-style-position: outside;
}

.soft-skills ul li {
    margin-left: 50px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}


.edit {
    display: inherit;
    justify-content: center;
}

.edit i {
    padding: 5px;
    padding-bottom: 20px;
}

.proyectos {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
}

.proyectos-contenido-row{
    display: flex;
}

.proyecto__imagen{
    width: 250px;
}

.proyecto__imagen img{
    box-sizing: border-box;
    
    width: 100%;
    display: flex;
    margin: 20px;
}



.proyectos-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proyectos-item{
    padding: 20px;
    margin-left: 25px;
}

.proyectos-item p{
    font-size: 18px;
}

.proyectos-item h3 {
    color: rgb(16, 16, 145);
    
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modificar {
    display: inherit;
    flex-direction: row;
    justify-content: center;
}

.modal-body img {
    display: flex;
    max-width: 1000px;
    box-sizing: content-box;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    max-width: auto;
    margin: auto;
}


@media (max-width: 1020px){
    .modal-body img {
        display: flex;
        max-width: 800px;
        box-sizing: content-box;
    }
}

@media (max-width: 820px){
    .modal-body img {
        display: flex;
        max-width: 600px;
        box-sizing: content-box;
    }
}

